## Predicting The Next Book-to-Movie Adaptation 
What book characteristics are correlated to successful movie adaptations?

In [11]:
# Import dependencies
import pandas as pd
import matplotlib as pyplot

In [12]:
# Reference csvs file path
goodreads_path = "Raw_Data/books.csv"
keywords_path = "Raw_Data/keywords.csv"
movies_path = "Raw_Data/movies_metadata.csv"
ratings_path = "Raw_Data/ratings.csv"

# Import csv files as DataFrames
goodreads_df = pd.read_csv(goodreads_path, encoding="utf-8")
keywords_df = pd.read_csv(keywords_path, encoding="utf-8")
movies_df = pd.read_csv(movies_path, encoding="utf-8")
ratings_df = pd.read_csv(ratings_path, encoding="utf-8")

C:\Users\laure\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [13]:
#[i for i in keywords_df['keywords'] if 'based on novel' in i]

In [14]:
adaptations = keywords_df[['based on novel' in row for row in keywords_df['keywords']]]
adaptations.head()

        id                                           keywords
3    31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
16    4584  [{'id': 420, 'name': 'bowling'}, {'id': 818, '...
20    8012  [{'id': 395, 'name': 'gambling'}, {'id': 416, ...
70   11859  [{'id': 258, 'name': 'bomb'}, {'id': 416, 'nam...
136  39428  [{'id': 531, 'name': 'southern usa'}, {'id': 8...

In [ ]:
# Inner join adaptations on id to movies_df (if not unique id, find correct id), 
# ratings_df (may need to switch id), goodreads_df (based on title, may need try except)